In [23]:
import pandas as pd #preprocessing
import numpy as np #matrix
import matplotlib.pyplot as plt #visualization
%matplotlib inline
import seaborn as sns #visaulization
from sklearn.model_selection import train_test_split #spliting the dataset
from sklearn.ensemble import RandomForestClassifier #Bagging
from sklearn.naive_bayes import MultinomialNB #Probability
from sklearn.metrics import accuracy_score
import nltk #Natural Language Processing
import nltk.corpus #huge text

In [24]:
tweet_data = pd.read_csv("C:\\Users\\Indrajeet Sarkar\\Downloads\\disaster_tweets.csv")

In [25]:
tweet_data.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [26]:
tweet_data['text'][9]

"I'm afraid that the tornado is coming to our area..."

In [27]:
tweet_data = tweet_data.drop(["keyword","location"],axis=1)

In [28]:
tweet_data.head()

   id                                               text  target
0   1  Our Deeds are the Reason of this #earthquake M...       1
1   4             Forest fire near La Ronge Sask. Canada       1
2   5  All residents asked to 'shelter in place' are ...       1
3   6  13,000 people receive #wildfires evacuation or...       1
4   7  Just got sent this photo from Ruby #Alaska as ...       1

In [29]:
test_data = pd.read_csv("C:\\Users\\Indrajeet Sarkar\\Downloads\\test_data.csv")

In [30]:
test_data = test_data.drop(["keyword","location"],axis=1)

In [31]:
test_data.head()

      id                                               text  target
0  10484  Wild fires in California... Must be Global War...       1
1  10485  Does the #FingerRockFire make you wonder 'am I...       1
2  10486  kc5kH mhtw4fnet\n\nCrews gaining on huge North...       1
3  10487  Fire in Pisgah National Forest grows to 375 ac...       1
4  10488  Route Complex AM Fire Update (Route Complex Wi...       1

In [32]:
pd.DataFrame(tweet_data.text)

                                                   text
0     Our Deeds are the Reason of this #earthquake M...
1                Forest fire near La Ronge Sask. Canada
2     All residents asked to 'shelter in place' are ...
3     13,000 people receive #wildfires evacuation or...
4     Just got sent this photo from Ruby #Alaska as ...
...                                                 ...
7608  Two giant cranes holding a bridge collapse int...
7609  @aria_ahrary @TheTawniest The out of control w...
7610  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611  Police investigating after an e-bike collided ...
7612  The Latest: More Homes Razed by Northern Calif...

[7613 rows x 1 columns]

In [34]:
data1 = pd.DataFrame(tweet_data.text)
data2 = pd.DataFrame(test_data.text,columns=["text"])

In [39]:
data = pd.concat([data1,data2],axis=0,ignore_index=True) #axis=0 means row-wise concatenation(default)
#axis=1 means column-wise concatenation

In [36]:
data1.head()

                                                text
0  Our Deeds are the Reason of this #earthquake M...
1             Forest fire near La Ronge Sask. Canada
2  All residents asked to 'shelter in place' are ...
3  13,000 people receive #wildfires evacuation or...
4  Just got sent this photo from Ruby #Alaska as ...

In [37]:
data2.head()

                                                text
0  Wild fires in California... Must be Global War...
1  Does the #FingerRockFire make you wonder 'am I...
2  kc5kH mhtw4fnet\n\nCrews gaining on huge North...
3  Fire in Pisgah National Forest grows to 375 ac...
4  Route Complex AM Fire Update (Route Complex Wi...

In [38]:
data.head()

                                                text
0  Our Deeds are the Reason of this #earthquake M...
1             Forest fire near La Ronge Sask. Canada
2  All residents asked to 'shelter in place' are ...
3  13,000 people receive #wildfires evacuation or...
4  Just got sent this photo from Ruby #Alaska as ...

In [44]:
data['text'][95]

'9 Mile backup on I-77 South...accident blocking the Right 2 Lanes at Exit 31 Langtree Rd...consider NC 115 or NC 150 to NC 16 as alternate'

In [43]:
b = data["text"][95]
html = re.compile(r'<.*?>|&([a-z0-9]+[#[0-9]{1,6}|#x[0-9a-f]{1,6}])')
re.sub(html,'',b)

'9 Mile backup on I-77 South...accident blocking the Right 2 Lanes at Exit 31 Langtree Rd...consider NC 115 or NC 150 to NC 16 as alternate'

In [40]:
import re #regular expression : used to search for a keywords or keywords in a huge document
# also used to know the frequency of a particular word
import string

def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)
def remove_html(text):
    html = re.compile(r'<.*?>|&([a-z0-9]+[#[0-9]{1,6}|#x[0-9a-f]{1,6}])')
    return re.sub(html,'',text)

#Applying helper functions
data['text'] = data['text'].apply(lambda x: remove_URL(x))
data['text'] = data['text'].apply(lambda x:remove_html(x))

NLP cannot understand Upper Case Data. So we convert it to lower case

In [47]:
for i in range(len(data)):
    data["text"][i].lower()