In [1]:
import pandas as pd #preprocessing
import numpy as np #matrix
import matplotlib.pyplot as plt #visualization
%matplotlib inline
import seaborn as sns #visaulization
from sklearn.model_selection import train_test_split #spliting the dataset
from sklearn.ensemble import RandomForestClassifier #Bagging
from sklearn.naive_bayes import MultinomialNB #Probability
from sklearn.metrics import accuracy_score
import nltk #Natural Language Processing
import nltk.corpus #huge text

In [2]:
tweet_data = pd.read_csv("C:\\Users\\Indrajeet Sarkar\\Downloads\\disaster_tweets.csv")

In [3]:
tweet_data.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
tweet_data['text'][9]

"I'm afraid that the tornado is coming to our area..."

In [5]:
tweet_data = tweet_data.drop(["keyword","location"],axis=1)

In [6]:
tweet_data.head()

   id                                               text  target
0   1  Our Deeds are the Reason of this #earthquake M...       1
1   4             Forest fire near La Ronge Sask. Canada       1
2   5  All residents asked to 'shelter in place' are ...       1
3   6  13,000 people receive #wildfires evacuation or...       1
4   7  Just got sent this photo from Ruby #Alaska as ...       1

In [7]:
test_data = pd.read_csv("C:\\Users\\Indrajeet Sarkar\\Downloads\\test_data.csv")

In [8]:
test_data = test_data.drop(["keyword","location"],axis=1)

In [9]:
test_data.head()

      id                                               text  target
0  10484  Wild fires in California... Must be Global War...       1
1  10485  Does the #FingerRockFire make you wonder 'am I...       1
2  10486  kc5kH mhtw4fnet\n\nCrews gaining on huge North...       1
3  10487  Fire in Pisgah National Forest grows to 375 ac...       1
4  10488  Route Complex AM Fire Update (Route Complex Wi...       1

In [10]:
pd.DataFrame(tweet_data.text)

                                                   text
0     Our Deeds are the Reason of this #earthquake M...
1                Forest fire near La Ronge Sask. Canada
2     All residents asked to 'shelter in place' are ...
3     13,000 people receive #wildfires evacuation or...
4     Just got sent this photo from Ruby #Alaska as ...
...                                                 ...
7608  Two giant cranes holding a bridge collapse int...
7609  @aria_ahrary @TheTawniest The out of control w...
7610  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611  Police investigating after an e-bike collided ...
7612  The Latest: More Homes Razed by Northern Calif...

[7613 rows x 1 columns]

In [11]:
data1 = pd.DataFrame(tweet_data.text)
data2 = pd.DataFrame(test_data.text,columns=["text"])

In [12]:
data = pd.concat([data1,data2],axis=0,ignore_index=True) #axis=0 means row-wise concatenation(default)
#axis=1 means column-wise concatenation

In [13]:
data1.head()

                                                text
0  Our Deeds are the Reason of this #earthquake M...
1             Forest fire near La Ronge Sask. Canada
2  All residents asked to 'shelter in place' are ...
3  13,000 people receive #wildfires evacuation or...
4  Just got sent this photo from Ruby #Alaska as ...

In [14]:
data2.head()

                                                text
0  Wild fires in California... Must be Global War...
1  Does the #FingerRockFire make you wonder 'am I...
2  kc5kH mhtw4fnet\n\nCrews gaining on huge North...
3  Fire in Pisgah National Forest grows to 375 ac...
4  Route Complex AM Fire Update (Route Complex Wi...

In [15]:
data.head()

                                                text
0  Our Deeds are the Reason of this #earthquake M...
1             Forest fire near La Ronge Sask. Canada
2  All residents asked to 'shelter in place' are ...
3  13,000 people receive #wildfires evacuation or...
4  Just got sent this photo from Ruby #Alaska as ...

In [16]:
data['text'][95]

'9 Mile backup on I-77 South...accident blocking the Right 2 Lanes at Exit 31 Langtree Rd...consider NC 115 or NC 150 to NC 16 as alternate'

In [17]:
import re #regular expression : used to search for a keywords or keywords in a huge document
# also used to know the frequency of a particular word
import string

def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)
def remove_html(text):
    html = re.compile(r'<.*?>|&([a-z0-9]+[#[0-9]{1,6}|#x[0-9a-f]{1,6}])')
    return re.sub(html,'',text)

#Applying helper functions
data['text'] = data['text'].apply(lambda x: remove_URL(x))
data['text'] = data['text'].apply(lambda x:remove_html(x))

NLP cannot understand Upper Case Data. So we convert it to lower case

In [18]:
for i in range(len(data)):
    data["text"][i].lower()

In [19]:
data.head()

                                                text
0  Our Deeds are the Reason of this #earthquake M...
1             Forest fire near La Ronge Sask. Canada
2  All residents asked to 'shelter in place' are ...
3  13,000 people receive #wildfires evacuation or...
4  Just got sent this photo from Ruby #Alaska as ...

In [20]:
data['text'].apply(lambda x:x.lower())

0       our deeds are the reason of this #earthquake m...
1                  forest fire near la ronge sask. canada
2       all residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       just got sent this photo from ruby #alaska as ...
                              ...
7897    two giant cranes holding a bridge collapse int...
7898    @aria_ahrary @thetawniest the out of control w...
7899          m1.94 [01:04 utc]?5km s of volcano hawaii.
7900    police investigating after an e-bike collided ...
7901    the latest: more homes razed by northern calif...
Name: text, Length: 7902, dtype: object

In [21]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [22]:
from nltk.corpus import stopwords
stop_words=set(stopwords.words("english"))
print(stopwords.words("english"))
stop_wrds=np.array(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [23]:
import gensim #pre-trained model
data["tokenized_text"]=data["text"].apply(gensim.utils.simple_preprocess) #tokeinzing the sentences
data.head()

,text,tokenized_text
0,Our Deeds are the Reason of this #earthquake M...,"[our, deeds, are, the, reason, of, this, earth..."
1,Forest fire near La Ronge Sask. Canada,"[forest, fire, near, la, ronge, sask, canada]"
2,All residents asked to 'shelter in place' are ...,"[all, residents, asked, to, shelter, in, place..."
3,"13,000 people receive #wildfires evacuation or...","[people, receive, wildfires, evacuation, order..."
4,Just got sent this photo from Ruby #Alaska as ...,"[just, got, sent, this, photo, from, ruby, ala..."

In [25]:
def remove_stp(txt_tokenized):
    txt_clean=[word for word in txt_tokenized if word not in stop_words]
    return txt_clean
data['clean_tokenized_text']=data['tokenized_text'].apply(lambda x:remove_stp(x))
data.head()

,text,tokenized_text,clean_tokenized_text
0,Our Deeds are the Reason of this #earthquake M...,"[our, deeds, are, the, reason, of, this, earth...","[deeds, reason, earthquake, may, allah, forgiv..."
1,Forest fire near La Ronge Sask. Canada,"[forest, fire, near, la, ronge, sask, canada]","[forest, fire, near, la, ronge, sask, canada]"
2,All residents asked to 'shelter in place' are ...,"[all, residents, asked, to, shelter, in, place...","[residents, asked, shelter, place, notified, o..."
3,"13,000 people receive #wildfires evacuation or...","[people, receive, wildfires, evacuation, order...","[people, receive, wildfires, evacuation, order..."
4,Just got sent this photo from Ruby #Alaska as ...,"[just, got, sent, this, photo, from, ruby, ala...","[got, sent, photo, ruby, alaska, smoke, wildfi..."

In [31]:
" ".join(data['clean_tokenized_text'][0]) #converting back to a sentence by joining with a blankspace

'deeds reason earthquake may allah forgive us'

In [30]:
def conc (txt_tokenized):
    s=" "
    tmp=s.join(txt_tokenized)
    return tmp
data["clean_text"]=data["clean_tokenized_text"].apply(lambda x:conc(x))
data.head()

,text,tokenized_text,clean_tokenized_text,clean_text
0,Our Deeds are the Reason of this #earthquake M...,"[our, deeds, are, the, reason, of, this, earth...","[deeds, reason, earthquake, may, allah, forgiv...",deeds reason earthquake may allah forgive us
1,Forest fire near La Ronge Sask. Canada,"[forest, fire, near, la, ronge, sask, canada]","[forest, fire, near, la, ronge, sask, canada]",forest fire near la ronge sask canada
2,All residents asked to 'shelter in place' are ...,"[all, residents, asked, to, shelter, in, place...","[residents, asked, shelter, place, notified, o...",residents asked shelter place notified officer...
3,"13,000 people receive #wildfires evacuation or...","[people, receive, wildfires, evacuation, order...","[people, receive, wildfires, evacuation, order...",people receive wildfires evacuation orders cal...
4,Just got sent this photo from Ruby #Alaska as ...,"[just, got, sent, this, photo, from, ruby, ala...","[got, sent, photo, ruby, alaska, smoke, wildfi...",got sent photo ruby alaska smoke wildfires pou...

In [32]:
data.clean_text

0            deeds reason earthquake may allah forgive us
1                   forest fire near la ronge sask canada
2       residents asked shelter place notified officer...
3       people receive wildfires evacuation orders cal...
4       got sent photo ruby alaska smoke wildfires pou...
                              ...
7897    two giant cranes holding bridge collapse nearb...
7898    aria_ahrary thetawniest control wild fires cal...
7899                                utc km volcano hawaii
7900    police investigating bike collided car little ...
7901    latest homes razed northern california wildfir...
Name: clean_text, Length: 7902, dtype: object

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(1,2))
vector = cv.fit_transform(data["clean_text"])

In [37]:
vector

<7902x62368 sparse matrix of type '<class 'numpy.int64'>'
	with 133000 stored elements in Compressed Sparse Row format>

In [38]:
X=vector[:len(tweet_data)]
y=tweet_data.target
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.90)

In [ ]:
model = MultinomialNB()
model.fit(X_train,y_train)
pre