In [3]:
import pandas as pd #preprocessing
import numpy as np #matrix
import matplotlib.pyplot as plt #visualization
%matplotlib inline
import seaborn as sns #visaulization
from sklearn.model_selection import train_test_split #spliting the dataset
from sklearn.ensemble import RandomForestClassifier #Bagging
from sklearn.naive_bayes import MultinomialNB #Probability
from sklearn.metrics import accuracy_score
import nltk #Natural Language Processing
import nltk.corpus #huge text

In [4]:
tweet_data = pd.read_csv("C:\\Users\\Indrajeet Sarkar\\Downloads\\disaster_tweets.csv")

In [5]:
tweet_data.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [11]:
tweet_data['text'][4]

'Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school '

In [9]:
tweet_data = tweet_data.drop(["keyword","location"],axis=1)

In [10]:
tweet_data.head()

   id                                               text  target
0   1  Our Deeds are the Reason of this #earthquake M...       1
1   4             Forest fire near La Ronge Sask. Canada       1
2   5  All residents asked to 'shelter in place' are ...       1
3   6  13,000 people receive #wildfires evacuation or...       1
4   7  Just got sent this photo from Ruby #Alaska as ...       1